/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
    color: #8e8b92;
}
body{
    font-family: 'Karla', sans-serif;
}
h1,h2,h3,h5{
    font-family: 'DM Serif Display', serif;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 38px;
}
h3{
    font-size: 30px;
}
h5{
    font-size: 20px;
}
p{
    font-size: 13px;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1330px;
    padding: 0 90px;
    margin: 0 auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.alpha1{
    border: 1px solid black;
}

/* Header */
.head{
    padding: 15px 0;
}
.head h3{
    color: #3d374f;
}
.head a{
    color: #8e8b92;
    font-weight: 600;
    margin-left: 30px;
}

.box1{
    border: 1px solid #8e8b92;
    border-radius: 5px;
    padding: 8px;
}
/* Section - Main */
.sec-main{
    background-color: #3d374f;
    padding: 60px 90px;
    position: relative;
}
.article-1{
    align-items: flex-start;
}
.sec-main-img1{
    width: 40%;
    position: absolute;
    right: 90px;
}
.sec-main-img1 img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.sec-main hr{
    margin-left: 0;
    width: 25%;
}
.sec-main-box1{
    width: 41%;
}
.sec-main-box1 h1,p,.box1{
    color: white;
}
.sec-main-box1 p{
    padding: 30px 0;
    color: white;
    line-height: 1.5;
}
.sec-main-box1 h1{
    color: white;
    width: 60%;
    line-height: 130%;
}
/* About the insure */
.sec-2{
    margin-top: 160px;
    margin-bottom: 100px;
}
.sec-main-img2{
    width: 47%;
}
.sec-main-box2{
    width: 47%;
}
.sec-main-img2 img{
    width: 100%;
    object-fit: cover;
}
.sec-main-box2 h2,p{
    color: #3d374f;
    line-height: 1.5;
}
.sec-main-box2 p{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.sec-main-box2 a{
    color: #3d374f;
    font-size: 20px;
}
/* Section - We are diff */
.sec-wearediff h2,h5{
    color: #3d374f;
    padding: 10px 0;
}
.sec-wearediff hr{
    width: 12%;
    margin-left: 0px;
    color: #3d374f;
}
.sec-wearediff p{
    color: #3d374f;
    line-height: 1.6;
}
.sec-wearediff i{
    font-size: 30px;
    color: #3d374f;
    margin: 5% 0;
}
.sec-wearediff-box1{
    width: 26%;
    color: #3d374f;
}
/* Section- Howe we Work */
.art-howwework{
    background-color: #3d374f;
    padding: 50px 50px;
    margin: 5% 0;
}

.art-howwework h2{
    color: white;
    line-height: 170%;
}
.art-howwework a{
    color: white;
}
.art-howwework .box1{
    padding: 15px 20px;
}
.howwework-box1{
    width: 32%;
    line-height: 200%;
}
/* Bottom Section */
.bottom-sec h3{
    color: #3d374f;
}
.bottom-sec hr{
    margin: 2px;
}
.bottom-sec a{
    font-size: 23px;
    margin-left: 20px;
}
.bottom-nav{
    text-align: center;
    padding: 15px 0;
}
.bottom-nav a{
    font-size: 18px;
    margin-left: 15px;
}
/* Footer */
.footer{
    background-color: #3d374f;
    padding: 20px 0;
    text-align: center;
    color: #8e8b92;
}